#playButton {
  -fx-min-width: 50px;
  -fx-min-height: 50px;
  -fx-background-color: transparent;
	-fx-background-image: url('../images/controls_play.png');
	-fx-padding: 10 10;
}

#playButton:hover {
  -fx-background-image: url('../images/controls_play_hover.png');
}